# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3

settings.py
wsgi.py

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 
env.sh

requirements.txt
BeatAiApp/neatConfigs/clients/
db.sqlite3